spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://3.39.226.151:3306/ticketservice?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: 1234
    hikari:
      maximum-pool-size: 100
  data:
    redis:
      host: localhost
      port: 6379
  jpa:
    hibernate:
      ddl-auto: validate
    database-platform: org.hibernate.dialect.MySQLDialect
  mvc:
    hiddenmethod:
      filter:
        enabled: true

management:
  endpoints:
    web:
      exposure:
        include: "prometheus"


# 테스트용 설정
test:
  concurrency:
    max-threads: 200
    timeout-seconds: 30