<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/default :: layout(~{::title}, ~{::section})}">
<head>
    <title>티켓 서비스 - 홈</title>
</head>
<body>
<section>
    <div class="row">
        <!-- 공연 목록 -->
        <div class="col-md-4">
            <div class="event-card" onclick="location.href='/api/events/1'">
                <img src="/dlwlrma.png" alt="공연 사진" class="event-image">
                <div class="event-title">아이유의 10주년 전국·아시아 투어 콘서트</div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="event-card" onclick="location.href='/api/events/2'">
                <img src="/HEREH.png" alt="공연 사진" class="event-image">
                <div class="event-title">2025 IU HEREH WORLD TOUR CONCERT</div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="event-card" onclick="location.href='/api/events/3'">
                <img src="/phantom.png" alt="공연 사진" class="event-image">
                <div class="event-title">뮤지컬〈팬텀〉10주년 기념 공연</div>
            </div>
        </div>
    </div>
</section>
</body>
</html>